# environment
ENV=DEV

# clickhouse_migrator
# -- example
# MIGRATION_HOME=~/dwh/patch
MIGRATION_HOME=
# -- example
# MIGRATION_TARGET_DB_NAME=db_name
MIGRATION_TARGET_DB_NAME=
MIGRATION_QUEUE_EXEC=True

# ClickHouse settings
CH_HOST_LIST='["host1","host2"]'
CH_PORT=9000
CH_USER=ch_user
CH_PASSWORD=ch_password
